[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
pytest = "*"

[packages]
pillow = {version = "*", platform_machine = "== 'arm64'"}
pillow-simd = {version = "*", platform_machine = "== 'x86_64'"}
httpx = {extras = ["http2"], version = "*"}
pycryptodomex = "*"
starlette = "*"
uvicorn = "*"
toml = "*"
schema = "*"
gunicorn = "*"
validators = "*"
sentry-sdk = "*"
uvloop = "*"
httptools = "*"

[requires]
python_version = "3.10"
